.main_container {
    animation: fadeIn 5s;
}

.main_tetraktys {
    animation: 10s ease-in 1.5s pulse infinite;
}

@keyframes pulse {
  0% { 
    transform: scale(1); 
  }
  
  50% { 
    transform: scale(1.15); 
  }
  
  100% { 
    transform: scale(1); 
  }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.main_title {
    font-size: calc(2.5rem + 2vw) !important;
}