.main_container {
    animation: fadeIn 5s;
}

.main_tetraktys {
    animation: 1.5s ease-in shake, 10s ease-in 1.5s pulse infinite;
}

@keyframes pulse {
  0% { 
    transform: scale(1); 
  }
  
  50% { 
    transform: scale(1.15); 
  }
  
  100% { 
    transform: scale(1); 
  }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(30deg) scale(1.2); }
    66% { transform: rotate(-45deg) scale(.8); }
    90% { transform: rotate(35deg) scale(1.1); }
    95% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.main_title {
    font-size: calc(2.5rem + 2vw) !important;
}