.articolo_container {
    quotes: "";
}

@keyframes zoomIn {
    from { transform: scale(1); }
    to { transform: scale(1.025); }
}

blockquote {
quotes: "«" "»" "«" "»";
}

.virgolette {
    color: var(--accent-color);
}