.overlay {
    background-color: rgba(0,0,0,.65)
}

.custom_title {
    font-size: 2rem;
}

.custom_description {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .custom_title {
        font-size: 1.2rem;
    }
    
    .custom_description {
        font-size: .75rem;
    }    
}