.overlay {
    background-color: rgba(0,0,0,.65)
}

.custom_title {
    font-size: 1.7rem;
}

.custom_description {
    font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    .custom_title {
        font-size: 1rem;
    }
    
    .custom_description {
        font-size: .75rem;
    }    
}