@font-face {
  font-family: "Lovelo";
  src: url('./assets/fonts/LoveloBlack.otf');
}

@font-face {
  font-family: "Otreque";
  src: url('./assets/fonts/Standerd-Regular.otf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --second-font: 'Lovelo';
  --accent-color: #e6e6cf;
  --accent-color-shadow: rgba(230, 230, 207, .5);
  --font-color: white;
  --bg-color: #030817;
  --secondary-bg-color: #1B1A55;
}

/* .gradient-background {
  background: linear-gradient(313deg,#070f2b,#0b0c59,#2b2c86,#89b8c5);
  background-size: 240% 240%;
  animation: gradient-animation 12s ease infinite;
} */

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#root, body {
  color: var(--font-color);
  background-color: var(--bg-color);
}

article {
  margin: 0 auto;
  max-width: 1280px;
}

* {
  font-family: 'Inter';
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-color-shadow);
}

h1, h2, h3, h4, h5, .title-like {
  font-family: var(--second-font) !important;
  color: var(--accent-color) !important;
  text-shadow: 3px 3px 5px var(--accent-color-shadow);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root, section {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img:not(.exclude):hover {
  filter: brightness(.75);
}

hr {
  max-width: 200px;
  border-radius: 50px;
  border: 2px solid white;
  opacity: .75 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
